<h1>Hangar</h1>
<div class="row">
  <div class="col-8">
    <div class="ships">
      <app-space-ship *ngFor="let s of ships | async" [spaceShip]="s">
        <button *ngIf="s.pilot == null && selectedPilot != null" (click)="pilotShip(s)">Pilotuj</button>
        <button *ngIf="s.pilot != null" (click)="leaveShip(s)">Opuść</button>
      </app-space-ship>
    </div>
  </div>
  <div class="col-4">
    <div class="row">
      <app-pilot-room (selectedPilotOutput)="selectedPilot = $event">
      </app-pilot-room>
    </div>
    <div class="row">
      <app-engineers-room (shipProduced)="addShip($event)">>
      </app-engineers-room>
    </div>
  </div>
</div>
