<div>
  <h4>{{spaceShip.modelName}}</h4>
  <div class="images">
      <img class="ship" [src]="spaceShip.imageUrl"/>
      <img *ngIf="spaceShip.pilot" class="pilot" [src]="spaceShip?.pilot?.imageUrl" />
  </div>
  <div class="health" [title]="'Health ' + spaceShip.health + '%'">
    <div [style.width.%]="spaceShip.health"></div>
  </div>
  <div class="property" [class.active]="spaceShip.activeShields">
    SHIELDS
  </div>
  <div class="property" [class.active]="spaceShip.activeWeapons">
    WEAPONS
  </div>
</div>
